<div class="ui form">
	<form class="ui form" [formGroup]="addform" (ngSubmit)="onSubmit(addform.value)">
		<!-- translator's name/skype start -->
		<h4 class="ui dividing header">Translator's Information</h4>	
		<div class="fields">
			<div class="eight wide field">
				<label>Name</label>
				<input type="text" placeholder="Translator's Name" formControlName="name">
			</div>
			<div class="eight wide field">
				<label>Skype</label>
				<input type="text" placeholder="Translator's Skype" formControlName="skype">	
			</div>
		</div>
		<!-- translator's name/skype end -->

		<br/>

		<!-- telephone no and contact phone no start -->
		<div class="fields">
			<div class="eight wide field">
				<h4 class="ui dividing header">Telephone No.</h4>
				<div class="fields">
					<div class="six wide field">
						<label>Country Code</label>		
						<select class="ui fluid dropdown" formControlName="cntry_code">
							<option value="CH">CH</option>
							<option value="EN">EN</option>
							<option value="SP">SP</option>
							<option value="JP">JP</option>
						</select>
					</div>
					<div class="ten wide field">
						<label>Phone No.</label>
						<input type="text" placeholder="Translator's Telephone No." formControlName="phone_no">
					</div>
				</div>
			</div>			
			<div class="eight wide field">
				<h4 class="ui dividing header">Contact Telephone No.</h4>
				<div class="fields">
					<div class="six wide field">
						<label>Country Code</label>		
						<select class="ui fluid dropdown" formControlName="ctc_cntry_code">
							<option value="CH">CH</option>
							<option value="EN">EN</option>
							<option value="SP">SP</option>
							<option value="JP">JP</option>
						</select>
					</div>
					<div class="eight wide field">
						<label>Contact Phone No.</label>
						<input type="text" placeholder="Translator's Contact Telephone No." formControlName="ctc_phone_no">
					</div>
				</div>
			</div>
		</div>
		<!-- phone no and contact phone no end -->

		
		<!-- Email/Address start -->
		<label>Email</label>
		<div class="field">
  		<input type="text" placeholder="Translator's Email" formControlName="email">
		</div>
		<label>Address</label>	
		<div class="field">
  		<textarea rows="2" placeholder="Address" formControlName="address"></textarea>
		</div>
		<!-- Email/Address end -->

		<!-- Native/Target Language start -->
		<h4 class="ui dividing header">Native/Target Language</h4>
		<div class="fields">
			<div class="four wide field">
				<label>Native</label>
				<select class="ui fluid dropdown" formControlName="native_lang">
					<option value="CH">CH</option>
					<option value="EN">EN</option>
					<option value="SP">SP</option>
					<option value="JP">JP</option>
				</select>
			</div>
			<div class="one wide field">
			</div>
			<div class="ten wide field">
				<div class="fields">
					<div class="six wide field">
						<label>Target From</label>
						<select class="ui fluid dropdown" formControlName="trgt_lang_from">
							<option value="CH">CH</option>
							<option value="EN">EN</option>
							<option value="SP">SP</option>
							<option value="JP">JP</option>
						</select>
					</div>
					<div class="three wide field">
						<label>Dir.</label>
						<select class="ui fluid dropdown" formControlName="direction">
							<option value=">">></option>
							<option value="<>"><></option>
						</select>
					</div>
					<div class="six wide field">
						<label>Target To</label>
						<select class="ui fluid dropdown" formControlName="trgt_lang_to">
							<option value="CH">CH</option>
							<option value="EN">EN</option>
							<option value="SP">SP</option>
							<option value="JP">JP</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!-- Native/Target Language end -->

		<!-- professinal field start -->
		<h4 class="ui dividing header">Professional Performance</h4>
		<div class="fields">
			<div class="ten wide field">
				<label>Education</label>	
				<input type="text" placeholder="Translator's Education" formControlName="education">
			</div>
			<div class="six wide field">
				<label>Year of Experience</label>	
				<input type="text" placeholder="Year of Experience" formControlName="year_exp">
			</div>			
		</div>
		<label>Professional Field</label>	
		<div class="field">
  		<textarea rows="2" placeholder="Professional Fields" formControlName="prof_field"></textarea>
		</div>
		
		<label>Certificate</label>	
		<div class="field">
  		<textarea rows="2" placeholder="Certificate" formControlName="certificate"></textarea>
		</div>
		<label>Reference Works</label>	
		<div class="field">
  		<input type="text" placeholder="Translator's Reference Works" formControlName="ref_works">
		</div>
		<!-- professional field end -->

		<!-- test translation result start -->
		<h4 class="ui dividing header">Test Translation</h4>
		<div class="fields">
			<div class="three wide field">
				<label>Result</label>	
				<select class="ui fluid dropdown" formControlName="tt_result">
					<option value="Qualified">Qualified</option>
					<option value="NOT Qualified">NOT Qualified</option>
				</select>
			</div>
			<div class="thirteen wide field">
				<label>Comments</label>	
				<textarea rows="2" placeholder="Comments" formControlName="comments"></textarea>
			</div>
		</div>
		<!-- test translation result end -->

		<!-- undertaking conditions start -->
		<!--
		<h4 class="ui dividing header">Undertaking Conditions</h4>
		<div class="fields">
			<div class="four wide field">
				<label>Translation Fee</label>
				<input type="text" placeholder="Translation Fee" formControlName="trans_fee">
			</div>
			<div class="four wide field">
				<label>Proofreading Fee</label>
				<input type="text" placeholder="Proofreading Fee" formControlName="proofreading_fee">
			</div>
			<div class="four wide field">
				<label>Words/PD</label>
				<input type="text" placeholder="Workds Per Day" formControlName="words_per_day">
			</div>
			<div class="four wide field">
				<label>Pay Type</label>	
				<select class="ui fluid dropdown" formControlName="pay_type">
  				<option value="Paypal">Paypal</option>
  				<option value="Skrill">Skrill</option>
  				<option value="TT">TT</option>
  		</select>
			</div>
		</div>
		-->
		<!-- undertaking conditions end -->

		<!-- other information start -->
		<!--
		<div class="field">
			<label>Other Info.</label>	
			<input type="text" placeholder="Other Information" formControlName="other_info">
		</div>
		<div class="field">
			<label>Advice</label>	
			<input type="text" placeholder="Advice" formControlName="advice">
		</div>
		<div class="field">
			<label>Description</label>	
			<input type="text" placeholder="Description" formControlName="desc">
		</div>
		-->
		<!-- other information end -->
		
		<button class="ui primary button" type="submit">Save</button>
		<button class="ui button">Discard</button>
	</form>
	<br/>
	<br/>
	<br/>
</div>