<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<button (click)="onRemoveSelected($event)">Select remove</button><br/>
<button (click)="selectAllRows()">Select all</button><br/>
<button (editBtnClick)="onEditBtnClick($event)"> test </button><br/>
<table class="ui celled table">
  <thead>
    <tr>
        <th>ID</th>
        <th>SKYPE</th>
        <th>NAME</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tpr of data">
      <td>{{tpr.id}}</td>
      <td>{{tpr.skype}}</td>
      <td>{{tpr.name}}</td>
      <td><button (click)="tmpEditBtn(content)">Edit</button></td>
      <td><button (click)="tmpDeleteBtn(tpr)">Delete</button></td>
    </tr>   
  </tbody>  
</table>

