<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Edit Translator's Information</div>
    <div class="content">
      <form class="ui form" [formGroup]="editform">
        <div class="field">
          <label>ID</label>
          <input type="text" placeholder="ID" readonly="" value="{{data.id}}">
        </div>
        <div class="field">
          <label>Name</label>
          <input type="text" placeholder="NAME" value="{{data.name}}" formControlName="name">
        </div>
        <div class="field">
          <label>SKYPE</label>
          <input type="text" placeholder="NAME" value="{{data.skype}}" formControlName="skype">
        </div>        
      </form>
      <!--
      <table class="ui celled table">
        <thead>
          <tr>
            <th>ID</th>
            <th>SKYPE</th>
            <th>NAME</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.id}}</td>
            <td>{{data.skype}}</td>
            <td>{{data.name}}</td>
          </tr>
        </tbody>
      </table>
      -->
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
    </div>
</ng-template>

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>SKYPE</th>
      <th>NAME</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tpr of theResult">
      <td>{{tpr.id}}</td>
      <td>{{tpr.skype}}</td>
      <td>{{tpr.name}}</td>
      <td><button class="ui button" (click)="editBtnClick(tpr)">Edit</button></td>
      <td><button class="ui button" (click)="deleteBtnClick(tpr)">Delete</button></td>
    </tr>
  </tbody>
</table>

